Retinanet_inference_example/checkpoint/readme.md
Retinanet_inference_example/checkpoint/Bird_drone/configs_alt_30.json
Retinanet_inference_example/checkpoint/Bird_drone/configs_alt_60.json
Retinanet_inference_example/checkpoint/Bird_drone/configs_alt_90.json
Retinanet_inference_example/checkpoint/Bird_drone/final_model_alt_30.pkl
Retinanet_inference_example/checkpoint/Bird_drone/final_model_alt_60.pkl
Retinanet_inference_example/checkpoint/Bird_drone/final_model_alt_90.pkl
Retinanet_inference_example/checkpoint/Bird_drone/loss_alt_30.jpg
Retinanet_inference_example/checkpoint/Bird_drone/loss_alt_60.jpg
Retinanet_inference_example/checkpoint/Bird_drone/loss_alt_90.jpg
Retinanet_inference_example/checkpoint/classification/efficientnet-b3-sklearn-last.pt
Retinanet_inference_example/checkpoint/classification/efficientnet-b5-sklearn-last.pt
Retinanet_inference_example/checkpoint/classification/resnet18-sklearn-sf-vr-last.pt
Retinanet_inference_example/checkpoint/classification/resnet50-sklearn-last.pt
Retinanet_inference_example/checkpoint/classification/resnext50-sklearn-last.pt
classifier_Bird_I/checkpoint/Bird_I_classifier/accuracy.jpg
classifier_Bird_I/checkpoint/Bird_I_classifier/category_index.json
classifier_Bird_I/checkpoint/Bird_I_classifier/configs.txt
classifier_Bird_I/checkpoint/Bird_I_classifier/loss.jpg
classifier_Bird_I/checkpoint/Bird_I_classifier/model.pth
classifier_Bird_I/checkpoint/Bird_I_classifier/Test_confusion_matrix.jpg
classifier_Bird_I/checkpoint/Bird_I_classifier/Test_per_class_accuracy.jpg
classifier_Bird_I/checkpoint/Bird_I_classifier/Test_per_class_frequency.jpg
classifier_Bird_I/checkpoint/Bird_I_classifier/train_confusion_matrix.jpg
classifier_Bird_I/checkpoint/Bird_I_classifier/train_per_class_accuracy.jpg
classifier_Bird_I/checkpoint/Bird_I_classifier/train_per_class_frequency.jpg
Retinanet_inference_example/example_images/Bird_drone/15m_results/detection_summary.csv
Retinanet_inference_example/example_images/Bird_drone/15m_results/classification-results/Cloud_Ice_15m_train2.txt
Retinanet_inference_example/example_images/Bird_drone/15m_results/detection-results/Cloud_Ice_15m_train2.txt
Retinanet_inference_example/example_images/Bird_drone/15m_results/visualize-results/Cloud_Ice_15m_train2.jpg
checkpoint/classifier/Res18_Bird_I/accuracy.jpg
checkpoint/classifier/Res18_Bird_I/category_index.json
checkpoint/classifier/Res18_Bird_I/configs.txt
checkpoint/classifier/Res18_Bird_I/loss.jpg
checkpoint/classifier/Res18_Bird_I/model.pth
checkpoint/classifier/Res18_Bird_I/Test_confusion_matrix.jpg
checkpoint/classifier/Res18_Bird_I/Test_per_class_accuracy.jpg
checkpoint/classifier/Res18_Bird_I/Test_per_class_frequency.jpg
checkpoint/classifier/Res18_Bird_I/train_confusion_matrix.jpg
checkpoint/classifier/Res18_Bird_I/train_per_class_accuracy.jpg
checkpoint/classifier/Res18_Bird_I/train_per_class_frequency.jpg
checkpoint/Retinanet/Bird_drone/configs_alt_30.json
checkpoint/Retinanet/Bird_drone/configs_alt_60.json
checkpoint/Retinanet/Bird_drone/configs_alt_90.json
checkpoint/Retinanet/Bird_drone/final_model_alt_30.pkl
checkpoint/Retinanet/Bird_drone/final_model_alt_60.pkl
checkpoint/Retinanet/Bird_drone/final_model_alt_90.pkl
checkpoint/Retinanet/Bird_drone/loss_alt_30.jpg
checkpoint/Retinanet/Bird_drone/loss_alt_60.jpg
checkpoint/Retinanet/Bird_drone/loss_alt_90.jpg
checkpoint/Retinanet/Bird_drone_KNN/final_model_alt_15.json
checkpoint/Retinanet/Bird_drone_KNN/final_model_alt_15.pkl
checkpoint/Retinanet/Bird_drone_KNN/final_model_alt_30.json
checkpoint/Retinanet/Bird_drone_KNN/final_model_alt_30.pkl
checkpoint/Retinanet/Bird_drone_KNN/final_model_alt_60.json
checkpoint/Retinanet/Bird_drone_KNN/final_model_alt_60.pkl
checkpoint/Retinanet/Bird_drone_KNN/final_model_alt_90.json
checkpoint/Retinanet/Bird_drone_KNN/final_model_alt_90.pkl
classifier_Bird_I/classification_infernece_res18.py
classifier_Bird_I/__pycache__/classification_infernece_res18.cpython-38.pyc
classifier_Bird_I/classification_infernece_res18.py
classifier_Bird_I/__pycache__/classification_infernece_res18.cpython-38.pyc
classifier_Bird_I/classification_infernece_res18.py
classifier_Bird_I/__pycache__/classification_infernece_res18.cpython-38.pyc
checkpoint/checkpoint_gui.zip
